In [1]:
import pandas as pd

data = pd.read_csv("BreadBasket_DMS.csv")
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[21293 rows x 4 columns]

In [2]:
data.drop(['Date','Time'], axis=1)

       Transaction           Item
0                1          Bread
1                2   Scandinavian
2                2   Scandinavian
3                3  Hot chocolate
4                3            Jam
...            ...            ...
21288         9682         Coffee
21289         9682            Tea
21290         9683         Coffee
21291         9683         Pastry
21292         9684      Smoothies

[21293 rows x 2 columns]

In [3]:
proccessed_data = []

for i in range(data.shape[0]):
    if i == 0 or int(data['Transaction'][i]) > int(data['Transaction'][i-1]):
        proccessed_data.append([])
        
    proccessed_data[-1].append(data['Item'][i])

In [4]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(proccessed_data).transform(proccessed_data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9527,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9528,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9529,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9530,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.1, use_colnames=True)

    support  itemsets
0  0.324940   (Bread)
1  0.475081  (Coffee)
2  0.141643     (Tea)
3  0.103137    (Cake)

In [6]:
from mlxtend.frequent_patterns import apriori

%timeit -r 10 apriori(df, min_support=0.1)

3.47 ms ± 156 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [7]:
from mlxtend.frequent_patterns import fpgrowth

%timeit -r 10 fpgrowth(df, min_support=0.1)

41.1 ms ± 1.27 ms per loop (mean ± std. dev. of 10 runs, 10 loops each)

In [42]:
import pandas as pd

data = pd.read_csv("plants.csv")
data.drop('name', axis=1)

,co,dengl,ca,ga,ct,pr,lb,tx,la,tn,...,fl,wy,on,ok,oh,sk,sc,ky,or,sd
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,True,False,...,True,False,False,False,False,False,True,True,False,False
3,False,False,False,False,True,True,False,False,True,False,...,True,False,False,False,False,False,True,True,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34776,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34777,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34778,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34779,True,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
34780,True,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [49]:
from mlxtend.frequent_patterns import fpgrowth, apriori

fpgrowth(data.drop('name', axis=1), min_support=0.1, use_colnames=True)

      support      itemsets
0    0.190363          (fl)
1    0.170380          (nc)
2    0.162100          (va)
3    0.156177          (sc)
4    0.148558          (il)
..        ...           ...
357  0.101435  (nc, nj, md)
358  0.101061  (nj, pe, il)
359  0.114402      (mo, il)
360  0.101463      (mo, tn)
361  0.100946      (mo, va)

[362 rows x 2 columns]

In [52]:
%timeit -n 1 -r 10 fpgrowth(df, min_support=0.1)

37 ms ± 1.09 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)